{{#attributes.loading}}
    <span>Data is loading, please, wait...</span>
{{/attributes.loading}}

{{#attributes.serverError}}
    <div class="alert alert-danger" role="alert">There was a server error. Sorry and good luck</div>
{{/attributes.serverError}}

{{^attributes.serverError}}
    {{#hasQueryString}}

        {{#hasSearchResults}}
            <span>Found {{attributes.content.length}} of {{attributes.pageInfo.totalElements}}</span>
                {{#attributes.content}}
                    <a href="#{{id}}">
                        <div class="search-result-item {{selected}}" >
                            <strong>{{&header}}</strong>
                            {{#tags}}
                                <span class="label label-info">{{&.}}</span>
                            {{/tags}}
                            <br/>
                            <small>{{#abbreviate}} {{&body}} {{/abbreviate}}</small>
                        </div>
                    </a>
                {{/attributes.content}}
        {{/hasSearchResults}}

        {{^hasSearchResults}}
            <div class="alert alert-danger" role="alert">Sorry, but nothing has found.</div>
        {{/hasSearchResults}}

    {{/hasQueryString}}

    {{^hasQueryString}}
        <div class="alert alert-info" role="alert">Once you typed your search request, hit Enter to perform search</div>
    {{/hasQueryString}}
{{/attributes.serverError}}