<div class="modal" id="search-box-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search Note</span>
                </h4>
            </div>
            <div class="modal-body">
                <input type="search" class="form-control" placeholder="Enter tag(s) or note's fragment here"/>
                <div id="search-box-modal-results"></div>
            </div>
        </div>
    </div>
</div>