
div[id="container"] div {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.navbar-brand {
    cursor: default;
}

#editor {
    position: absolute;
    top: 60px;
    right: 5px;
    bottom: 20px;
    left: 0;
}

#editor-footer-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 5px;
    height: 20px
}

#editor-footer-bar-left {
    margin-right: 20px;
}

.preview-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    font-size: 200%;
}

#preview {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 5px;
    overflow-y: auto
}

.alert-editor-warning {
    z-index: 500 !important;
    position: relative;
    background: #960000;
    margin-right: 30px;
    margin-left: 70px;
    margin-top: 10px;
}

.search-result-item {
    padding: 5px;
}

.search-result-item-selected, .search-result-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
}

.search-result-item strong {
    color: #ffff00;
}

#search-box-modal-results:hover a {
    text-decoration: none;
}

#search-box-modal-results:focus a {
    text-decoration: none;
}

#search-box-modal-results {
    margin-top: 10px;
}