<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${product_brand}"/>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-slate.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>

    <meta name="product_brand" th:content="${product_brand}"/>
</head>
<body>

    <nav id="upper-main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <span class="navbar-brand" th:text="${product_brand}" />
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="New Note (Alt+Insert)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>New</span>
                    </a>
                </li>
                <li>
                    <a id="main-menu-search-button" href='javascript:void(0)' data-toggle="tooltip" data-placement="bottom" title="Search Note (Ctrl+N)">
                        <span class="glyphicon glyphicon-search"></span>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="initial-loading-image" style="background-image: url('/static/images/loader.gif'); position: absolute; width: 512px; height: 512px; left: 50%; top: 50%; margin-left: -256px; margin-top: -256px; z-index: 500"></div>

    <div class="container">
        <div>
            <div style="position: absolute; top: 0; right: 50%; bottom: 0; left: 0;">
                <div id="editor"></div>
                <div id="editor-footer-bar" class="small">
                    <div class="pull-left" id="editor-footer-save-status"></div>

                    <div class="pull-right" id="editor-footer-bar-cursor"></div>
                    <div class="pull-right" id="editor-footer-bar-left"></div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="preview-container">
                <div id="preview"></div>
            </div>
        </div>
    </div>


    <th:block th:include="js-includes" />
</body>
</html>