<!--Libraries-->
<script th:src="@{/static/js/libs/jquery-2.1.1.js}"></script>
<script th:src="@{/static/js/libs/jquery.scrollTo.js}"></script>
<script th:src="@{/static/js/libs/jquery.hotkeys.js}"></script>
<script th:src="@{/static/js/libs/bootstrap.js}"></script>
<script th:src="@{/static/js/libs/bootstrap-notify.js}"></script>
<script th:src="@{/static/js/libs/marked.js}"></script>
<script th:src="@{/static/js/libs/ace/src-noconflict/ace.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/libs/underscore.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/libs/backbone.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/libs/mustache.js}" type="text/javascript" charset="utf-8"></script>

<!--Utils-->
<th:block th:if="*{not glue_js}">
    <script th:src="@{/static/js/util/BackboneDeferred.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/util/Events.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/util/EditorEventData.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/util/Utils.js}" type="text/javascript" charset="utf-8"></script>

    <!--Models-->
    <script th:src="@{/static/js/model/NoteModel.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/model/SearchModel.js}" type="text/javascript" charset="utf-8"></script>
    <!--Views-->
    <script th:src="@{/static/js/view/EditorView.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/view/EditorFooterBar.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/view/PreviewView.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/view/SearchPopupView.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/view/UpperMainMenu.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/view/LimitExceededWarningView.js}" type="text/javascript" charset="utf-8"></script>
    <!--App-->
    <script th:src="@{/static/js/app.js}" type="text/javascript" charset="utf-8"></script>
</th:block>

<th:block th:if="*{glue_js}">
    <script th:src="@{/static/js/app-all.js}" type="text/javascript" charset="utf-8"></script>
</th:block>